<h1>Bibliography</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quid possumus facere melius? Tecum optime, deinde etiam cum mediocri amico. <b>Audeo dicere, inquit.</b> Duo Reges: constructio interrete. Philosophi autem in suis lectulis plerumque moriuntur. Si longus, levis dictata sunt. Sed quod proximum fuit non vidit. Universa enim illorum ratione cum tota vestra confligendum puto. Beatus sibi videtur esse moriens. Non dolere, inquam, istud quam vim habeat postea videro; Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. </p>

<p>Quis istud, quaeso, nesciebat? Quod equidem non reprehendo; Apud ceteros autem philosophos, qui quaesivit aliquid, tacet; Id est enim, de quo quaerimus. Vestri haec verecundius, illi fortasse constantius. Si verbum sequimur, primum longius verbum praepositum quam bonum. Consequens enim est et post oritur, ut dixi. </p>
<ol>
    <li>Iam doloris medicamenta illa Epicurea tamquam de narthecio proment: Si gravis, brevis;</li>
    <li>Sin autem ad animum, falsum est, quod negas animi ullum esse gaudium, quod non referatur ad corpus.</li>
    <li>Summum ením bonum exposuit vacuitatem doloris;</li>
    <li>Si enim, ut mihi quidem videtur, non explet bona naturae voluptas, iure praetermissa est;</li>
</ol>


