 <script type="text/javascript">
	$(function() {
		   myMiradorInstance = Mirador({
			 id: "viewer",
			 layout: "1x1",
			 buildPath: "mirador/",
			 data: [
			   { manifestUri: "https://purl.stanford.edu/rs424xq9888/iiif/manifest.json", location: "Stanford University"}
			 ],
			windowObjects: [
			  {
					"loadedManifest": "https://purl.stanford.edu/rs424xq9888/iiif/manifest.json",
					"viewType" : "BookView",
					"canvasID": "http://oculus-dev.harvardx.harvard.edu/manifests/drs:5981093/canvas/canvas-5981104",
					//"bottomPanel" : false,
					"sidePanel" : false
					//"availableViews" : ['ThumbnailsView', 'ImageView', 'BookView']
					//"overlay" : false
			  }
			],
			 annotationEndpoint: {
			   name:"Local Storage",
			   module: "LocalStorageEndpoint" }
		   });
		 });
</script>

