
#controls {
} #controls md-switch {
    display: inline-block;
    margin-right: 10px;
  }

#viewer {
    font-size: 22px;
    line-height: .7;
    min-width: 300px;

    white-space: nowrap;
} #viewer .page {
    margin: auto;
    display: inline-block;
    position: relative;
  }

#viewer .page span {
    background-color: #dbd2c3;
    padding: 5px;
    /*border: 1px solid;
    border-color: aqua;*/
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}

#viewer .page img {
    overflow: hidden;
    min-width:250px;
    width: 100%;
    height: auto;
}

.ang {
    font-feature-settings: "ss02";
}