<h1>View</h1>
<p>This will contain a Mirador instance for viewing the object with zoom/pan and comparative functions</p>


<div class="mirador_container">
    <div id="viewer" class="mirador_viewer"></div>
</div>

<script type="text/javascript">
    $(function() {
        Mirador({
            "id": "viewer",
            "mainMenuSettings" : {
                'show' : false,
            },
            "data": [
                { "manifestUri": "https://purl.stanford.edu/rs424xq9888/iiif/manifest.json", "location": "Stanford University"},
            ],
            "windowObjects": [
                {
                    "loadedManifest": "https://purl.stanford.edu/rs424xq9888/iiif/manifest.json",
                    "viewType" : "BookView",
                    "canvasID": "https://purl.stanford.edu/rs424xq9888/iiif/canvas/rs424xq9888_1",
                    //"bottomPanel" : false,
                    "bottomPanelVisible": false,
                    "sidePanel" : false
                    //"availableViews" : ['ThumbnailsView', 'ImageView', 'BookView']
                    //"overlay" : false,
                    "displayLayout": false
                }
            ],
            "autoHideControls": true,

        });
    });
</script>