body {
    font-family: "Junicode";
}

md-toolbar{
    overflow: hidden;
} md-toolbar #site-title{
    margin: auto;
    text-align: center;
} md-toolbar img {
    width: auto;
    height: 100%;
}

md-nav-bar{
    width:100%;
    margin: auto;
}

md-content{
    margin: 0 auto;
    padding: 0 5%;
}

