<div id="home-container">
    <h1>Home</h1>
    <h3>In Development: Right now, most of the site contains placeholder text</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iam id ipsum absurdum, maximum malum neglegi. <a href='http://loripsum.net/' target='_blank'>Sed videbimus.</a> Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Non est igitur voluptas bonum. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Duo Reges: constructio interrete. Nonne igitur tibi videntur, inquit, mala? </p>

    <p><b>Quid enim?</b> Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Qui autem esse poteris, nisi te amor ipse ceperit? Incommoda autem et commoda-ita enim estmata et dustmata appello-communia esse voluerunt, paria noluerunt. <a href='http://loripsum.net/' target='_blank'>Quare conare, quaeso.</a> Hic, qui utrumque probat, ambobus debuit uti, sicut facit re, neque tamen dividit verbis. Inde sermone vario sex illa a Dipylo stadia confecimus. </p>


</div>